/*---------------Nav bar-----------------*/

.nav-wrapper {
    padding: 0px 20px;
    background-color: #fff;
}

.nav-wrapper a {
    color: #54595c;
}


/*-----Cards------*/

.card-align {
    float: left;
}

.btn-small {
    height: 38px;
    width: 80px;
    margin-top: 15px;
    text-align: top;
    padding: 0px 0px;
    
}


/*---------------Footer-----------------*/

footer {
    background-color: #54595c;
    color: #fff;
}

#form {
    padding: 30px;
}