@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.btn {
    background-color: #94A604;
}

.btn-delete {
    background-color: #2C4001;
}

/*--------------------Nav bar------------------------*/

nav {
     height: 100px!important;
}

#logo{
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 206px;
    margin-left: 30px;
}

.nav-wrapper {
    padding: 0px 20px;
    background-color: #fff;
}

.nav-wrapper a {
    font-family: 'Montserrat', sans-serif;
    color: #7f7f7f;
}

.nav-items {
    font-size: 24px;
    vertical-align: baseline;
    margin-top: 20px;
    margin-right: 30px;
}

/*--------------------body------------------------*/

.tittle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 55px;
    color: #7f7f7f;
    letter-spacing: 2px;
    font-weight: 600;
}

.intro-questions {
    
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.intro-text {
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.intro-text, h6 {
    line-height: 18px;
    font-size: 18px;
}

.intro-text h5 {
    margin-top: 30px;
}


/*--------------------Cards------------------------*/

.card-align {
    float: left;
}

.btn-small {
    height: 40px;
    width: 90px;
    margin-top: 15px;
    text-align: baseline;
    padding: 0px 0px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

.btn:hover {
    color: #94A604;
    background-color: #fff;
}

.btn-delete:hover {
    color: #2C4001;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    color: #2C4001;
}

.edit-delete-city {
    text-align: center;
}

.activator {
    color: #94A604;
}

.btn i {
    color: #fff;
}

.btn i:hover {
    color: #94A604;
}

.btn-delete i:hover {
    color: #2C4001;
}

/*--------------------Map------------------------*/

#map {
    min-height: 400px;
}



/*--------------------Footer------------------------*/

footer {
    background-color: #7f7f7f;
    color: #fff;
}


/*--------------------Add a city------------------------*/

.add-tittle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 55px;
    color: #7f7f7f;
}

.form-add {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.button-add {
    text-align: center;
}

.material-icons {
    color: #2C4001;
}


/*--------------------Contacts------------------------*/

#form {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #7f7f7f;
}

.drop {
    margin-top: 60px;
}

textarea {
    min-height: 150px;
}

/*--------------------Search------------------------*/

.search {
    margin-top: 60px;
    text-align: center;
}

.button-search {
    min-width: 150px;
    text-align: center;
}

.button-reset {
    min-width: 150px;
    text-align: center;
}

.buttons-container {
    text-align: center;
}

/*--------------------Cities Pages------------------------*/
/*
.city-image-honolulu {
    background-image: url("/static/images/honolulu.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.city-image-doha {
    background-image: url("/static/images/doha.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.city-image-dubai {
    background-image: url("/static/images/dubai.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.city-image-newyork {
    background-image: url("/static/images/newyork.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.city-image-melbourne {
    background-image: url("/static/images/melbourne.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.city-image-lisbon {
    background-image: url("/static/images/lisboa.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
} */

/*ENCONTRAR UMA SOLUÇÃO PARA QUE A IMAGEM APAREÇA BEM!*/
.city-image {
    min-height: 600px;
    max-width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.city-name {
    margin-top: 60px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #2C4001;
}

.city-content {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #7f7f7f;
    font-size: 18px;
}

#city-info {
    margin-top: 60px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-float {
    float: right;
}