<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" type="text/javascript"></script>
   

    <title>Around the World</title>
</head>
<body>
    <header>  
         <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img id="logo" src="../static/images/logoaroundtheworld.jpg"></img></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="nav-items" href="/">Home</a></li>
                    <li><a class="nav-items" href="/add_city">Add a city</a></li>
                    <li><a class="nav-items" href="/search">Search</a></li>
                    <li><a class="nav-items" href="/contacts">Get in touch</a></li>
                </ul>
                <ul id="mobile-demo" class="side-nav">
                    <li><a class="nav-items" href="/">Home</a></li>
                    <li><a class="nav-items" href="/add_city">Add a city</a></li>
                    <li><a class="nav-items" href="/search">Search</a></li>
                    <li><a class="nav-items" href="/contacts">Get in touch</a></li>
                </ul>
            </div>
        </nav>
    </header>

<div class="row">
    <div class="col s12 add-tittle">
        <h4>Add a city</h4>
    </div>
</div>
{% block content %}
<div class="row container">
    <form action="{{ url_for('insert_city') }}" method="POST" class="col s12">
        <div class="row form-add">
            <div class="input-field col s12">
                <i class="material-icons prefix">room</i>
                <input id="city_name" name="city_name" type="text" class="validate" required>
                <label for="icon_city">City</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">public</i>
                <input id="country_name" name="country_name" type="text" class="validate" required>
                <label for="icon_country">Country</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">sentiment_very_satisfied</i>
                <input id="best" name="best" type="text" class="validate" required>
                <label for="icon_best">What did you like more in this city?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">sentiment_very_dissatisfied</i>
                <input id="worst" name="worst" type="text" class="validate" required>
                <label for="icon_worst">What was not so good?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <input id="eat" name="eat" type="text" class="validate" required>
                <label for="icon_eat">Where did you have your best meal in this city?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">hotel</i>
                <input id="sleep" name="sleep" type="text" class="validate" required>
                <label for="icon_sleep">Where did you have a good night sleep?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">rate_review</i>
                <textarea id="other" name="other" class="materialize-textarea"></textarea>
                <label for="icon_other">Do you have any tips and tricks to go around this city?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">image</i>
                <input id="photo" name="img_link" type="url" class="validate">
                <label for="icon_image">If you want to add a photo, paste your link here:</label>
            </div>
        </div>
        <div class="row container col s12 button-add">
            <button class="btn waves-effect waves-light" type="submit button" name="action" value="Encode" onclick="codeAddress()">Add city
            <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>

 <footer>
            <div id="footer-details" class="row">
                <div class="col s12 m3">
                </div>
                <div class="col s12 m3">
                    <h6><a href="https://www.linkedin.com/in/asaramago/" target="_blank" class="in-logo"><i class="fab fa-linkedin"></i></a>Instagram</h6> 
                    <h6><a href="https://www.linkedin.com/in/asaramago/" target="_blank" class="in-logo"><i class="fab fa-linkedin"></i></a>Facebook</h6>  
                </div>
                <div class="col s12 m3">
                    <h5><a href="#">Levina's Travel Consultancy</a></h5>
                    <h6>Made by: Ana Assunção</h6>
                </div>
            </div>
    </footer>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>

</body>
</html>
{% endblock %}