{% extends "base.html" %}
{% block content %}
<div class="row container-fluid">
{% for city in cities %}

<!--<div class="row container">-->
    <div class="col l4 m3 s12 card-align">
        <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
                <img src={{city.img_link}}>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4"><strong>{{city.city_name}}</strong> - {{city.country_name}}</span>
                <p><a class="activator" href="#{{city.city_name}}">Know more</a></p>
                <div class="edit-city">
                    <a href="{{url_for('edit_city', city_id=city._id)}}" class="waves-effect waves-light btn btn-small">Edit <i class="material-icons center">edit</i></a>
                </div>
            </div>
            <div class="card-reveal" id="{{city.city_name}}">
                <span class="card-title grey-text text-darken-4">{{city.city_name}}<i class="material-icons right">X</i></span>
                <p>Country: {{city.country_name}}</p>
                <p>The best: {{city.best}}</p>
                <p>The worst: {{city.worst}}</p>
                <p>Where to grab a bite: {{city.eat}}</p>
                <p>Resting is important: {{city.sleep}}</p>
                <p>Funny usefull/less stuff: {{city.other}}</p>
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}
